body {
  font-family:Arial,sans-serif;
  background-color: #ffd9f9;
  margin: 0;
  padding: 0;
}

.container{
  width: 400px;
  margin: 40px auto;
  background-color:white;
  padding: 25px;
  border-radius:25px;
}

h1{
  text-align: center;
  color:#802d72;
  }

p{
  text-aling: center;
  color: #802d72

}
label{
  display:block;
  margin-top:15px;
  font-weight:bold;
  color: #8a3469;
}

input, select, textarea{
  width: 30%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #8a3469;
  border-radius: 50px;
}


button{
display: block;
  width:120px;
  margin:20px auto 0 auto;
  padding: 5px;
  background-color: #8a3469;
  color: white;
  border: none;
  border-radius:40px;
  font-size:15px;
  cursor:pointer;
}

button:hover{
  background-color: #c732ae
}

  footer {
    background-color: #ffffff;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-top: 7px solid #ccc;
    border-radius:30px;
    border: 1px solid #c732ae;
}

